@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #030213;
  --color-grayText: #717182;
  --color-surface: #f3f3f5;
  --color-border: rgba(0, 0, 0, 0.1);
}

html {
  font-family: "Inter", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрывает стрелки для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
